<script lang="ts">
	import { page } from '$app/stores';
</script>

<!-------------------- ERROR 404 -------------------->
{#if $page.status === 404}
	<img src="./errors/404.webp" alt="Imagen de pagina no encontrada" />
	<p>
		Image by <a
			href="https://www.freepik.com/free-vector/hand-drawn-404-error_1587371.htm#query=404%20page%20found&position=0&from_view=keyword&track=ais"
			>Freepik</a
		>
	</p>
{/if}

<style lang="postcss">
	p {
		@apply text-center;
	}
	img {
		@apply block
		mx-auto;
	}
</style>
