<script lang="ts">
	import HeaderComponent from '$lib/Components/HeaderComponent.svelte';
	import '../app.postcss';
	import NavigationComponent from '$lib/Components/NavigationComponent.svelte';
	import { initializeStores, Drawer, AppShell } from '@skeletonlabs/skeleton';
	import { afterNavigate } from '$app/navigation';

	afterNavigate((params: any) => {
		const isNewPage: boolean =
			params.from && params.to && params.from.route.id !== params.to.route.id;
		const elemPage = document.querySelector('#page');
		if (isNewPage && elemPage !== null) {
			elemPage.scrollTop = 0;
		}
	});

	initializeStores();
</script>

<!-------------------- DRAWER -------------------->
<Drawer>
	<NavigationComponent />
</Drawer>

<!-------------------- APP SHELL -------------------->
<AppShell slotSidebarLeft="bg-surface-backdrop-token w-0 lg:w-64">
	<!-------------------- HEADER -------------------->
	<svelte:fragment slot="header">
		<HeaderComponent />
	</svelte:fragment>

	<!-------------------- SIDE BAR -------------------->
	<svelte:fragment slot="sidebarLeft">
		<NavigationComponent />
	</svelte:fragment>

	<!-------------------- PAGE ROUTE CONTENT -------------------->
	<slot />
</AppShell>
