<script lang="ts">
	import { main } from '$lib/Data/main';
	import { Paginator, type PaginationSettings } from '@skeletonlabs/skeleton';

	let paginationSettings = {
		page: 0,
		limit: 5,
		size: main.length,
		amounts: []
	} satisfies PaginationSettings;

	$: newsPage = main.slice(
		paginationSettings.page * paginationSettings.limit,
		paginationSettings.page * paginationSettings.limit + paginationSettings.limit
	);
</script>

<div class="grid grid-cols-1 lg:!grid-cols-2 gap-1">
	{#each newsPage as news}
		<div class="card variant-ghost">
			<!-------------------- IMG -------------------->
			<header class="card-header">
				<img src={news.img} alt="Cabecera de la noticia {news.title}" />
			</header>

			<!-------------------- TITLE -------------------->
			<section class="p-4">
				<h1 class="news-title h1">{news.title}</h1>
			</section>

			<!-------------------- INFO -------------------->
			<section class="p-4">
				<p class="news-info">{@html news.info}</p>
			</section>
		</div>
	{/each}
</div>
<div class="paginator">
	<Paginator
		justify="justify-end"
		regionControl="btn-group variant-soft-surface"
		bind:settings={paginationSettings}
		showPreviousNextButtons={true}
		showNumerals
		maxNumerals={1}
		buttonClasses="!px-8 !py-1.5 fill-current"
	/>
</div>

<style lang="postcss">
	.news-title {
		@apply font-bold
		text-3xl;
	}

	.lg\:\!grid-cols-2 :first-child {
		grid-column: 1 / -1;
	}
	.paginator {
		@apply m-2;
	}
</style>
