<img src="./errors/wip.webp" alt="Pagina en construccion" />
<p>
	Image by <a
		href="https://www.freepik.com/free-vector/hand-drawn-404-error_1587371.htm#query=404%20page%20found&position=0&from_view=keyword&track=ais"
		>Freepik</a
	>
</p>

<style lang="postcss">
	p {
		@apply text-center;
	}
	img {
		@apply block
		mx-auto;
	}
</style>
