<script lang="ts">
	import { drivers } from '$lib/Data/drivers';
</script>

<div class="grid grid-cols-1 lg:!grid-cols-3 gap-1">
	{#each drivers as driver}
		<div class="card card-hover variant-ghost">
			<!-------------------- IMG -------------------->
			<header class="card-header">
				<img src={driver.img} alt="Coche favorito de {driver.name}" />
			</header>

			<!-------------------- NAME -------------------->
			<section class="p-4">
				<h1 class="driver-name h1">{driver.name}</h1>
			</section>

			<!-------------------- INFO -------------------->
			<section class="p-4">
				<p class="driver-info">{@html driver.info}</p>
			</section>

			<!-------------------- ROL -------------------->
			<footer class="p-4 card-footer">
				<span class="driver-rol">{driver.rol} </span>
			</footer>
		</div>
	{/each}
</div>

<style lang="postcss">
	.card-hover:hover {
		@apply bg-primary-500;
	}
	.driver-name {
		@apply font-bold
		text-3xl;
	}
	.driver-rol {
		@apply font-bold
		italic
		text-lg;
	}
	.card-footer {
		@apply absolute
		bottom-0
		left-0;
	}
	.card {
		min-height: 52rem;
		@apply relative;
	}
	/* 4k */
	@media (min-width: 2000px) {
		.card {
			min-height: 70rem;
			@apply relative;
		}
	}
	/* Mobile */
	@media (max-width: 430px) {
		.card {
			min-height: 50rem;
			@apply relative;
		}
	}
	/* Tablet */
	@media (min-width: 800px) and (max-width: 1200px) {
		.card {
			min-height: 58rem;
			@apply relative;
		}
	}
</style>
