<script lang="ts">
	import { signIn, signOut } from '@auth/sveltekit/client';
	import { page } from '$app/stores';
	import { auth } from '$lib/Data/auth';

	var user: string;
	var validator: boolean = false;

	if ($page.data.session?.user?.name) {
		user = $page.data.session.user.name;
		if (auth.includes(user)) {
			validator = true;
		}
	}
</script>

<div class="grid grid-cols-1 lg:grid-cols-1 gap-1 text-center">
	<div class="card variant-ghost">
		<!-------------------- SESSION -------------------->
		<header class="card-header">
			{#if $page.data.session?.user && validator}
				<h2 class="h2">Sesion iniciada como</h2>
			{:else if $page.data.session?.user && !validator}
				<h2 class="h2">Sesion iniciada como</h2>
			{:else}
				<h2 class="h2">Todavia no has iniciado sesion</h2>
			{/if}
		</header>

		<!-------------------- USER -------------------->
		<section class="p-4">
			{#if $page.data.session?.user && validator}
				<h3 class="h3">{user}</h3>
				<img
					class="mx-auto"
					src={$page.data.session.user.image}
					alt="Imagen de perfil del usuario {user}"
				/>
			{:else if $page.data.session?.user && !validator}
				<h3 class="h3">{user}</h3>
				<img
					class="mx-auto"
					src={$page.data.session.user.image}
					alt="Imagen de perfil del usuario {user}"
				/>
				<p>
					El usuario {user} no esta en nuestra lista de pilotos, por favor, inicie sesion con un usuario
					valido
				</p>
			{:else}
				<h3 class="h3">Por favor, inicia sesion con discord</h3>
			{/if}
		</section>

		<!-------------------- SIGN IN/OUT -------------------->
		<section class="p-4">
			{#if $page.data.session?.user && validator}
				<button on:click={signOut} type="button" class="btn variant-ghost"> Cerrar Sesion </button>
			{:else if $page.data.session?.user && !validator}
				<button on:click={signOut} type="button" class="btn variant-ghost"> Cerrar Sesion </button>
			{:else}
				<button on:click={() => signIn('discord')} type="button" class="btn variant-ghost">
					Iniciar Sesion
				</button>
			{/if}
		</section>
	</div>
</div>
