<script lang="ts">
	import SkinsComponent from '$lib/Components/SkinsComponent.svelte';
	import { TabGroup, Tab } from '@skeletonlabs/skeleton';
	import { skins } from '$lib/Data/skins';

	let tabSet: number = 0;
</script>

<TabGroup justify="justify-start  md:justify-center">
	<!-------------------- TABS -------------------->
	<Tab bind:group={tabSet} name="Piloto" value={0}>
		<h2 class="h2">Piloto</h2>
	</Tab>
	<Tab bind:group={tabSet} name="LMP" value={1}>
		<h2 class="h2">LMP</h2>
	</Tab>
	<Tab bind:group={tabSet} name="GTE" value={2}>
		<h2 class="h2">GTE</h2>
	</Tab>
	<Tab bind:group={tabSet} name="GT3" value={3}>
		<h2 class="h2">GT3</h2>
	</Tab>
	<Tab bind:group={tabSet} name="GT4" value={4}>
		<h2 class="h2">GT4</h2>
	</Tab>
	<Tab bind:group={tabSet} name="Monoplazas" value={5}>
		<h2 class="h2">Monoplazas</h2>
	</Tab>
	<Tab bind:group={tabSet} name="Oval" value={6}>
		<h2 class="h2">Oval</h2>
	</Tab>
	<Tab bind:group={tabSet} name="Otros" value={7}>
		<h2 class="h2">Otros</h2>
	</Tab>

	<svelte:fragment slot="panel">
		{#each skins as skin}
			{#if tabSet === 0}
				<!-------------------- DRIVER -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.Driver as driver}
						<SkinsComponent src={driver.img} alt={driver.car} p={driver.car} href={driver.skin} />
					{/each}
				</section>
			{:else if tabSet === 1}
				<!-------------------- LMP -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.LMP as lmp}
						<SkinsComponent src={lmp.img} alt={lmp.car} p={lmp.car} href={lmp.skin} />
					{/each}
				</section>
			{:else if tabSet === 2}
							<!-------------------- GTE -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.GTE as gte}
						<SkinsComponent src={gte.img} alt={gte.car} p={gte.car} href={gte.skin} />
					{/each}
				</section>
			{:else if tabSet === 3}
				<!-------------------- GT3 -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.GT3 as gt3}
						<SkinsComponent src={gt3.img} alt={gt3.car} p={gt3.car} href={gt3.skin} />
					{/each}
				</section>
			{:else if tabSet === 4}
				<!-------------------- GT4 -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.GT4 as gt4}
						<SkinsComponent src={gt4.img} alt={gt4.car} p={gt4.car} href={gt4.skin} />
					{/each}
				</section>
			{:else if tabSet === 5}
				<!-------------------- SINGLE SEATER -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.Monoplazas as monoplazas}
						<SkinsComponent
							src={monoplazas.img}
							alt={monoplazas.car}
							p={monoplazas.car}
							href={monoplazas.skin}
						/>
					{/each}
				</section>
			{:else if tabSet === 6}
				<!-------------------- OVAL -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.Oval as oval}
						<SkinsComponent src={oval.img} alt={oval.car} p={oval.car} href={oval.skin} />
					{/each}
				</section>
			{:else if tabSet === 7}
				<!-------------------- OTHERS -------------------->
				<section class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-2 text-center">
					{#each skin.Otros as otros}
						<SkinsComponent src={otros.img} alt={otros.car} p={otros.car} href={otros.skin} />
					{/each}
				</section>
			{/if}
		{/each}
	</svelte:fragment>
</TabGroup>
