@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

@font-face {
  font-family: HankenGrotesk;
  src: url("/fonts/HankenGrotesk.ttf") format("truetype");
}

@font-face {
  font-family: LEMONMILK;
  src: url("/fonts/LEMONMILK.otf") format("opentype");
}

::selection {
  background: #527874;
}

p{
  font-size: larger;
}

.card {
  @apply m-2;
}