<script lang="ts">
	import { AppBar, getDrawerStore } from '@skeletonlabs/skeleton';
	import { page } from '$app/stores';
	import { signIn, signOut } from '@auth/sveltekit/client';

	const session = $page.data.session;
	const drawerStore = getDrawerStore();
	$: currentPath = $page.url.pathname.slice(1);
	$: path = currentPath.charAt(0).toUpperCase() + currentPath.slice(1);

	$: if (path == '') {
		path = 'Inicio';
	} else if ($page.status === 404) {
		path = 'Error';
	}

	function drawerOpen(): void {
		drawerStore.open({});
	}
</script>

<AppBar background="bg-primary-800">
	<svelte:fragment slot="lead">
		<!-------------------- BURGER MENU -------------------->
		<div class="flex items-center">
			<button on:click={drawerOpen} class="lg:hidden btn btn-sm mr-4">
				<span>
					<svg viewBox="0 0 100 80" class="fill-token w-4 h-4">
						<rect width="100" height="20" />
						<rect y="30" width="100" height="20" />
						<rect y="60" width="100" height="20" />
					</svg>
				</span>
			</button>
		</div>
	</svelte:fragment>
	<svelte:fragment>
		<!-------------------- LOGO -------------------->
		<img src="./LogoZX.webp" alt="Logo Zero X Racing Team" />
		<h1 class="h1 center">{path}</h1>
	</svelte:fragment>
	<svelte:fragment slot="trail">
		<!-------------------- SIGN IN/OUT -------------------->
		{#if session}
			<span class="signin max-lg:hidden">
				<a href="/usuario">
					<button type="button" class="btn variant-ghost">
						{$page.data.session?.user?.name}
					</button>
				</a>
				<button
					on:click={() => signOut({ callbackUrl: '/usuario' })}
					type="button"
					class="btn variant-ghost"
				>
					Cerrar Sesion
				</button>
			</span>
		{:else}
			<span class="signin max-lg:hidden">
				<button
					on:click={() => signIn('discord', { callbackUrl: '/usuario' })}
					type="button"
					class="btn variant-ghost"
				>
					Iniciar Sesion
				</button>
			</span>
		{/if}
	</svelte:fragment>
</AppBar>

<style lang="postcss">
	img {
		@apply w-14
		h-14
		md:w-20
		md:h-20
		float-left;
	}
	.center {
		@apply top-7
		md:top-8
		absolute
		left-1/2;
	}
	.signin {
		@apply pr-4;
	}
</style>
