<script lang="ts">
	import SocialMediaComponent from '$lib/Components/SocialMediaomponent.svelte';
	import { getDrawerStore } from '@skeletonlabs/skeleton';
	import { AppRail } from '@skeletonlabs/skeleton';
	import { page } from '$app/stores';
	import { signIn, signOut } from '@auth/sveltekit/client';

	const session = $page.data.session;
	const drawerStore = getDrawerStore();
	$: path = $page.url.pathname;

	function drawerClose(): void {
		drawerStore.close();
	}
</script>

<AppRail background="bg-primary-900" width="auto">
	<svelte:fragment slot="lead">
		<!-------------------- SIGN IN/OUT -------------------->
		{#if session}
			<span class="logo-item lg:hidden">
				<a on:click={drawerClose} href="usuario">
					<button type="button" class="btn variant-ghost">
						{$page.data.session?.user?.name}
					</button>
				</a>
				<button
					on:click={() => signOut({ callbackUrl: '/usuario' })}
					type="button"
					class="btn variant-ghost"
				>
					Cerrar Sesion
				</button>
			</span>
		{:else}
			<span class="logo-item lg:hidden">
				<button
					on:click={() => signIn('discord', { callbackUrl: '/usuario' })}
					type="button"
					class="btn variant-ghost"
				>
					Iniciar Sesion
				</button>
			</span>
		{/if}

		<span class="lg:hidden">
			<hr class="!my-6 border-2" />
		</span>

		<div class="logo-cloud grid-cols-1 gap-1">
			<!-------------------- HOME -------------------->
			<h1 class="h1">
				<a on:click={drawerClose} class={path === '/' ? 'active logo-item' : 'logo-item'} href="/">
					<img src="./icons/home.svg" alt="Icono navegacion de inicio" />
					<span>Inicio</span>
				</a>
			</h1>

			<!-------------------- DRIVERS -------------------->
			<h1 class="h1">
				<a
					on:click={drawerClose}
					class={path === '/pilotos' ? 'active logo-item' : 'logo-item'}
					href="/pilotos"
				>
					<img src="./icons/drivers.svg" alt="Icono navegacion de pilotos" />
					<span>Pilotos</span>
				</a>
			</h1>

			<!-------------------- SKINS -------------------->
			<h1 class="h1">
				<a
					on:click={drawerClose}
					class={path === '/skins' ? 'active logo-item' : 'logo-item'}
					href="/skins"
				>
					<img src="./icons/skins.svg" alt="Icono navegacion de skins" />
					<span>Skins</span>
				</a>
			</h1>

			<!-------------------- EVENTS -------------------->
			<h1 class="h1">
				<a
					on:click={drawerClose}
					class={path === '/eventos' ? 'active logo-item' : 'logo-item'}
					href="/eventos"
				>
					<img src="./icons/events.svg" alt="Icono navegacion de eventos" />
					<span>Eventos</span>
				</a>
			</h1>
		</div>
	</svelte:fragment>

	<!-------------------- SOCIAL MEDIA -------------------->
	<svelte:fragment slot="trail">
		<h1 class="h1">
			<SocialMediaComponent />
		</h1>
	</svelte:fragment>
</AppRail>

<style lang="postcss">
	img {
		@apply w-10
		h-10
		md:w-12
		md:h-12;
	}
	.logo-item {
		@apply pl-8
		items-center
		bg-primary-900
		shadow-none
		justify-start;
	}
	.active {
		@apply bg-primary-500;
	}
</style>
