<script lang="ts">
	import { page } from '$app/stores';
	import { auth } from '$lib/Data/auth';

	export let src: string;
	export let alt: string;
	export let p: string;
	export let href: string;

	var user: string;

	if ($page.data.session?.user?.name) {
		user = $page.data.session.user.name;
	}
</script>

<div>
	<img class="h-auto max-w-full rounded-lg" {src} alt="Skin para el {alt}" />
	<p>{p}</p>
	{#if auth.includes(user)}
		<a {href} target="_blank">
			<button type="button" class="btn variant-filled-primary"> Correr con esta pintura </button>
		</a>
	{/if}
</div>

<style lang="postcss">
	p {
		@apply py-3
		font-bold
		text-2xl;
	}
</style>
