<span class="social-media">Redes Sociales</span>
<hr class="!my-6 border-2" />
<div class="logo-cloud grid-cols-1 gap-1">
	<!-------------------- TWITCH -------------------->
	<a class="logo-item" href="https://www.twitch.tv/zerox_racing_team" target="_blank">
		<img src="./icons/twitch.svg" alt="Icono Twitch" />
		<span>Twitch</span>
	</a>

	<!-------------------- TWITTER -------------------->
	<a class="logo-item" href="https://twitter.com/zeroxracingteam" target="_blank">
		<img src="./icons/twitter.svg" alt="Icono Twitter" />
		<span>Twitter</span>
	</a>

	<!-------------------- INSTAGRAM -------------------->
	<a class="logo-item" href="https://www.instagram.com/zeroxracingteam/" target="_blank">
		<img src="./icons/instagram.svg" alt="Icono Instagram" />
		<span>Instagram</span>
	</a>
</div>

<style lang="postcss">
	img {
		@apply w-10
		h-10
		md:w-12
		md:h-12;
	}
	.logo-item {
		@apply pl-8
		items-center
		bg-primary-900
		shadow-none
		justify-start;
	}
	.social-media {
		@apply pl-8
		font-bold
		text-xl;
	}
</style>
